[Unit]
Description=My Discord Bot
After=network-online.target

[Service]
Type=simple
User=dj-patrick
Group=dj-patrick
Restart=on-failure
ExecStart=/usr/bin/python3 /opt/dj-patrick

[Install]
WantedBy=multi-user.target