[Unit]
Description=My Discord Bot
After=network-online.target

[Service]
Type=simple
User=<user>
Group=<group>
Restart=on-failure
ExecStart=/usr/bin/python3 /opt/dj-patrick

[Install]
WantedBy=multi-user.target